[mysqld]
# Set karakter set default
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Izinkan paket besar (berguna untuk migrasi/seed)
max_allowed_packet = 16M

# Tingkatkan koneksi maksimal
max_connections = 200

# Lewati resolusi nama (bisa mempercepat koneksi sedikit)
skip-name-resolve

# Direkomendasikan untuk pengembangan agar log terlihat di log Docker
general_log = 1
general_log_file = /var/log/mysql/mysql.log

[client]
default-character-set = utf8mb4